# Fundamentals of Data Analysis Project 2019
### By Kevin Dooley

![](pandas_logo.png)

# Title: Analysis of 'Tips' Dataset

### Dataset Background
A waiter recorded information about each tip he/she received over a period of time while working in a restaurant. The waiter collected several variables which all contribute to the dataset. They include:
* Total Bill
* Tip amount
* Sex
* Smoker
* Day
* Time
* Table/Group Size

The dataset includes the recording of 244 tips and was apparently completed so the waiter could see which factors played the biggest role in shaping the amount of tips he/she was earning.

In [3]:
import seaborn as sns # seaborn sns
import pandas as pd #pandas abbreviated ot pd
import matplotlib.pyplot as plt # pyplot as plt
import numpy as np # numpy as np

##### Starting the dataset
To be able to give an overview of the Tips dataset, I had to first obtain it. I found the dataset online and copied and saved it as a CSV file in my repository. This was saved as tips.csv and was the basis of the project.

##### Reading from tips.csv
By importing pandas as pd, I created pd.read_csv("tips.csv") which imported the dataset.

In [4]:
df = pd.read_csv("tips.csv") #read the tips csv file using pandas
df

#dataset is built into seaborn. Can also load using sns.load_dataset("tips")

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

##### Overview of the dataset
Dataset dimensions.

By using the shape property we can get a quick idea of how many rows and how many attributes columns the data contains. When the dataset is loaded with pandas, it gives the dataset dimensions at the end of the table.

This df.shape can be used to verify it is correct

In [9]:
print("Rows x Columns:", df.shape) # 244 rows and 7 columns. The same as it says above

Rows x Columns: (244, 7)

##### Species column distribution
It is possible to group by column. In this instance I grouped the 'time' column to let me see what time was most popular for eating in the retaurant.

In [12]:
df.groupby("time").size()
# you can see out of the 244 visits to the restaurant. More people came for dinner

time
Dinner    176
Lunch      68
dtype: int64

In [12]:
df.groupby("smoker").count() # More people were non-smoker

        total_bill  tip  sex  day  time  size
smoker
No             151  151  151  151   151   151
Yes             93   93   93   93    93    93

In [14]:
df.groupby("day").size() #most people visited restaurant on the weekend
#surprising the least amount came on a friday

day
Fri     19
Sat     87
Sun     76
Thur    62
dtype: int64

##### Glance at the data
By glancing at the data using the head, tail and sample functions it is possible to eyeball the data at different levels.

In [23]:
df.head() # prints out first 5 rows of dataset
# no input = 5 (default)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
df.tail() #prints last 5 rows of dataset (default)

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [4]:
df.sample(15) # view 5 random rows of dataset

     total_bill   tip     sex smoker   day    time  size
185       20.69  5.00    Male     No   Sun  Dinner     5
109       14.31  4.00  Female    Yes   Sat  Dinner     2
17        16.29  3.71    Male     No   Sun  Dinner     3
172        7.25  5.15    Male    Yes   Sun  Dinner     2
184       40.55  3.00    Male    Yes   Sun  Dinner     2
139       13.16  2.75  Female     No  Thur   Lunch     2
83        32.68  5.00    Male    Yes  Thur   Lunch     2
163       13.81  2.00    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
174       16.82  4.00    Male    Yes   Sun  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
164       17.51  3.00  Female    Yes   Sun  Dinner     2
41        17.46  2.54    Male     No   Sun  Dinner     2
106       20.49  4.06    Male    Yes   Sat  Dinner     2

By using these simple functions it is easy to do a overview comparision for each of the variables of the data between each of the variables. These functions do not really tell us anything valubale information and more so just familarise us with the dataset.

##### Statistical Summary
There are two methods in which you can view a summary of the dataset. The first method is using the describe function in pandas which will output a table with a statistical overview of the data. It is also possible to obtain all the same information by using each individual built in function such as:
- df.min()
- df.max()
- df.mean()

In [6]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

##### Examine day column

In [23]:
#groupby allows to analyse each column separately/view certain columns together
# sum of numerical variables based on day of week
df.groupby("day").sum()

      total_bill     tip  size
day
Fri       325.88   51.96    40
Sat      1778.40  260.40   219
Sun      1627.16  247.39   216
Thur     1096.33  171.83   152

Nothing strange here except Friday had substantially less in customer, total bill and tip amount in comparision to the rest.

#### Examine smoker column

In [53]:
df.groupby("smoker").count()
# number of smokers vs non smokers

        total_bill  tip  sex  day  time  size
smoker
No             151  151  151  151   151   151
Yes             93   93   93   93    93    93

In [54]:
df.groupby("smoker").sum()
#smoker vs non smokers in amount spent, tip amount and size of group

        total_bill     tip  size
smoker
No         2897.43  451.77   403
Yes        1930.34  279.81   224

Non smokers appear to spend a higher total amount compared to non-smokers

In [35]:
smoker_percent = df.groupby(["smoker"]).sum() # sum of numerical variables based on sex on customer
smoker_percent["Tip % on smoker"] = smoker_percent["tip"]/smoker_percent["total_bill"]*100 #tip/total bill to get %
smoker_percent

        total_bill     tip  size  Tip % on smoker
smoker
No         2897.43  451.77   403        15.592094
Yes        1930.34  279.81   224        14.495374

From the table above, you can see that non-smokers on average tip approx
1.1% more than smokers

In [37]:
#lets see does it vary via smoker and sex
smoker_percent = df.groupby(["smoker", "sex"]).sum() # sum of numerical variables based on sex on customer
smoker_percent["Tip % on smoker"] = smoker_percent["tip"]/smoker_percent["total_bill"]*100 #tip/total bill to get %
smoker_percent

               total_bill     tip  size  Tip % on smoker
smoker sex
No     Female      977.68  149.77   140        15.318918
       Male       1919.75  302.00   263        15.731215
Yes    Female      593.27   96.74    74        16.306235
       Male       1337.07  183.07   150        13.691879

There doesnt appear to be any correlation between tip amount and if smoker vs non smoker. By looking at the table above it seems that females that smoke do tip a greater amount than females than who do not smoke. While male non smokers appear to tip higher compared to smokers.

In [39]:
smoker_percent = df.groupby(["sex", "smoker", "day"]).sum() # sum of numerical variables based on sex on customer
smoker_percent["Tip % on smoker"] = smoker_percent["tip"]/smoker_percent["total_bill"]*100 #tip/total bill to get %
smoker_percent

                    total_bill     tip  size  Tip % on smoker
sex    smoker day
Female No     Fri        38.73    6.25     5        16.137361
              Sat       247.05   35.42    30        14.337179
              Sun       291.54   46.61    43        15.987515
              Thur      400.36   61.49    62        15.358677
       Yes    Fri        88.58   18.78    14        21.201174
              Sat       304.00   43.03    33        14.154605
              Sun        66.16   14.00    10        21.160822
              Thur      134.53   20.93    17        15.557868
Male   No     Fri        34.95    5.00     4        14.306152
              Sat       637.73  104.21    85        16.340771
              Sun       877.34  133.96   124        15.268881
              Thur      369.73   58.83    50        15.911611
       Yes    Fri       163.62   21.93    17        13.403007
              Sat       589.62   77.74    71        13.184763
              Sun       392.12   52.82    39        13.470366
              Thur      191.71   30.58    23        15.951176

Friday has more amount of smokers compared to non-smokers. That is possibly because friday is more of a social night with drinking alcohol involved. More people are smoking and drinking.

#### Explain sex column

In [18]:
df.groupby("sex").sum() # sum of numerical variables based on sex on customer

        total_bill     tip  size
sex
Female     1570.95  246.51   214
Male       3256.82  485.07   413

At a glance, it appears on average female customers tipped slightly more pro rate than male customers

In [36]:
tip_percent = df.groupby("sex").sum() # sum of numerical variables based on sex on customer
tip_percent["Tip % on Sex"] = sex["tip"]/sex["total_bill"]*100 #tip/total bill to get %
tip_percent

        total_bill     tip  size  Tip % on Sex
sex
Female     1570.95  246.51   214     15.691779
Male       3256.82  485.07   413     14.893976

In [ ]:
The table above does indeed confirm that females appeared to tip slightly more than males.

In [43]:
tip_percent = df.groupby(["sex", "day"]).sum() # sum of numerical variables based on sex on customer
tip_percent["Tip % on Sex & day"] = tip_percent["tip"]/tip_percent["total_bill"]*100 #tip/total bill to get %
tip_percent

             total_bill     tip  size  Tip % on Sex & day
sex    day
Female Fri       127.31   25.03    19           19.660671
       Sat       551.05   78.45    63           14.236458
       Sun       357.70   60.61    53           16.944367
       Thur      534.89   82.42    79           15.408776
Male   Fri       198.57   26.93    21           13.561968
       Sat      1227.35  181.95   156           14.824622
       Sun      1269.46  186.78   163           14.713343
       Thur      561.44   89.41    73           15.925121

We already know that females tip slightly more than males. That is possibly down to the fact on a Friday, females tipped about 6% more on a friday compared to men.

#### Explain day

In [44]:
df.groupby(["day"]).count()

      total_bill  tip  sex  smoker  time  size
day
Fri           19   19   19      19    19    19
Sat           87   87   87      87    87    87
Sun           76   76   76      76    76    76
Thur          62   62   62      62    62    62

In [46]:
tip_percent = df.groupby(["day"]).sum() # sum of numerical variables based on sex on customer
tip_percent["Tip % on day"] = tip_percent["tip"]/tip_percent["total_bill"]*100 #tip/total bill to get %
tip_percent

      total_bill     tip  size  Tip % on day
day
Fri       325.88   51.96    40     15.944519
Sat      1778.40  260.40   219     14.642375
Sun      1627.16  247.39   216     15.203791
Thur     1096.33  171.83   152     15.673201

In [47]:
tip_percent = df.groupby(["day", "time"]).sum() # sum of numerical variables based on sex on customer
tip_percent["Tip % on day"] = tip_percent["tip"]/tip_percent["total_bill"]*100 #tip/total bill to get %
tip_percent

             total_bill     tip  size  Tip % on day
day  time
Fri  Dinner      235.96   35.28    26     14.951687
     Lunch        89.92   16.68    14     18.549822
Sat  Dinner     1778.40  260.40   219     14.642375
Sun  Dinner     1627.16  247.39   216     15.203791
Thur Dinner       18.78    3.00     2     15.974441
     Lunch      1077.55  168.83   150     15.667950

Interesting that Sat & Sun are only available for dinner. They are also the highest grossing days. While thursday has very little for dinner.

The restaurant recieved much more customers for dinner while friday little customers came to the restaurant at all on a Friday

#### Explain by size

In [51]:
df.groupby(["day", "time", "size"]).count()

                  total_bill  tip  sex  smoker
day  time   size
Fri  Dinner 2             11   11   11      11
            4              1    1    1       1
     Lunch  1              1    1    1       1
            2              5    5    5       5
            3              1    1    1       1
Sat  Dinner 1              2    2    2       2
            2             53   53   53      53
            3             18   18   18      18
            4             13   13   13      13
            5              1    1    1       1
Sun  Dinner 2             39   39   39      39
            3             15   15   15      15
            4             18   18   18      18
            5              3    3    3       3
            6              1    1    1       1
Thur Dinner 2              1    1    1       1
     Lunch  1              1    1    1       1
            2             47   47   47      47
            3              4    4    4       4
            4              5    5    5       5
            5              1    1    1       1
            6              3    3    3       3

It appears, groups of 2 were the most common on each day. On thursday & friday which do lunch and dinner, 2 was still the most common group size.

In [52]:
tip_percent = df.groupby(["day", "time", "size"]).sum() # sum of numerical variables based on sex on customer
tip_percent["Tip % "] = tip_percent["tip"]/tip_percent["total_bill"]*100 #tip/total bill to get %
tip_percent

                  total_bill     tip     Tip %
day  time   size
Fri  Dinner 2         195.79   30.55  15.603453
            4          40.17    4.73  11.774956
     Lunch  1           8.58    1.92  22.377622
            2          65.36   11.76  17.992656
            3          15.98    3.00  18.773467
Sat  Dinner 1          10.32    2.00  19.379845
            2         892.37  133.43  14.952318
            3         459.17   68.36  14.887732
            4         388.39   53.61  13.803136
            5          28.15    3.00  10.657194
Sun  Dinner 2         684.84  109.86  16.041703
            3         332.76   46.81  14.067196
            4         480.39   73.58  15.316722
            5          81.00   12.14  14.987654
            6          48.17    5.00  10.379905
Thur Dinner 2          18.78    3.00  15.974441
     Lunch  1          10.07    1.83  18.172790
            2         708.75  114.24  16.118519
            3          76.64   10.77  14.052714
            4         149.75   21.09  14.083472
            5          41.19    5.00  12.138869
            6          91.15   15.90  17.443774

In [72]:
# total bill
y = df.total_bill.sum()
y

4827.77

In [73]:
#total tip
x = df.tip.sum()
x

731.5799999999999

In [89]:
# tip/bill to
if x % y >=15:
    print("The overall tipping amount is above the expected amount")

The overall tipping amount is above the expected amount